	<sly data-sly-use.blogteaser="com.personalproject.core.models.BlogTeaser"></sly>
		<!-- Start recent-blog Area -->
			<section class="recent-blog-area section-gap">
				<div class="container">	
						<div class="single-recent-blog">
							<div class="thumb">
								<img class="f-img img-fluid mx-auto" src="${blogteaser.image}" alt="">	
							</div>							
							<a href="#">
								<h4>${blogteaser.title}</h4>
							</a>
							<p>${blogteaser.description}</p>
<!--Dream interpretation has many forms; it can be done be done for the sake of fun, hobby or can be taken up as a serious career.-->
						</div>
				</div>
			</section>